
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>This is food page which is very good</h1>

<p>Please leave a like for me my pizza my </p> 