
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>The ingredients in @ViewBag.name are</h1>
<p>You may need to insert @ViewBag.numberOfTopping of them here </p>